<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../static/style.css">
        <title>{{ planet.identif }} Planet Page</title>    
    </head>
    <body>
        <div class="container">
            <div class="header" onclick="location.href='/';">Universal Settlement Assistant</div>
            <div class= "content-small-left">
                Parameters
                <div>
                    Planet Info
                    <div>
                        planet type = {{ planet.planet_type }}
                        <br>
                        mass = {{ planet.mass }} Jupiter M.
                        <br>
                        radius = {{ planet.radius }} Jupiter R.
                        <br>
                        alien aggression level = {{ planet.alien_aggression_level }}
                        <br>
                        distance from star = {{ planet.star_distance }}
                    </div>
                </div>
                <div>
                    Star Info
                    <div>
                        name = {{ star.identif }}
                        <br>
                        luminosity = {{ star.luminosity }} Solar L.
                        <br>
                        mass = {{ star.mass }} Solar M.
                    </div>
                </div>
                <div>
                    System Info
                    <div>
                        name = {{ system.identif }}
                        <br>
                        stability = {{ system.stability }}
                    </div>
                </div>
                <div>
                    Galaxy Info
                    <div>
                        name = {{ galaxy.identif }}
                        <br>
                        distance = {{ galaxy.distance }} Ly
                    </div>
                </div>
            </div>
            <div class= "content-small-mid">
                <div class= "name-center"> {{ planet.identif }} </div>
                <img src="../static/planet.png" class="image">
            </div>
            <div class="content-small-right"> 
                Atmosphere Info
                <p> pressure = {{atmosphere.pressure}} Pa</p>
                {% for comp in compositions %}
                <div>
                    concentration = {{comp.concentration}}
                    <br>
                    element atomic number = {{comp.element}}
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>